.content {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.inline-links {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

h1, p {
  margin: 0.4em;
}

p, a {
  font-size: 1.2em;
}


